<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novawaterpure</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/faqstyle.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../script/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css"
      />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <meta property="title" content="Novawaterpure"/>
    <meta name="description" content="Stainless steel tanks" />
    <meta property="og:description" content="stainless steel tanks" />
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <link rel="icon" type="image/x-icon" href="../images/NOVA FINAL LOGO.JPG">

</head>
<body onload="mainfunc()">
    <!--header-->
    <div class="header" id="navbar1">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <div class="navbar-logos">
                <a href="https://www.facebook.com/amarwoodindustries/"><img src="../images/headerimg/img1.png" class="headerimg"></a>
                <a href="https://api.whatsapp.com/send/?phone=919701169701&text&type=phone_number&app_absent=0"><img src="../images/headerimg/img2.png" class="headerimg"></a>
                <a href="https://www.instagram.com/novawaterpure/"><img src="../images/headerimg/img3.png" class="headerimg"></a>
              </div>
              <h6>CALL US: (+91) 9701169701, 9394607035</h6>
            </div>
        </nav>
    </div>
    <!--navbar-->
    <div class="top" id="hamburger">
			<a href="../index.html"><img src="../images/NOVA FINAL LOGO.JPG" id="mobnav2img1"></a>
      <a href="../index.html"><img src="../images/DURACON LOGO.png" id="mobnav2img2"></a>
      <a href="#" class="menu_icon"><i class="material-icons" id="icon">dehaze</i></a>
		</div>
    <nav class="menu">
      <a class="item_menu"><span id="cross">❌</span></a>
  <br><br><a href="../index.html" class="item_menu">Home</a>
<a href="../templates/about.html" class="item_menu">Company Profile</a>
<a href="../templates/why.html" class="item_menu">Why Novapure</a>
<a href="../templates/ss.html" class="item_menu">Stainless Steel Tanks</a>
<a href="../templates/plastictanks.html" class="item_menu">Plastic Tanks</a>
<a href="../templates/lofttanks.html" class="item_menu">Loft Tanks</a>

<a href="../templates/sensors.html" class="item_menu">Water Level Alarms & Automations</a>
  <a href="../templates/download.html" class="item_menu">Download</a>
  <a href="../templates/faq.html" class="item_menu">FAQ</a>
  <a href="../templates/contact.html" class="item_menu">Contact Us</a>
  </nav>
<nav class="navbar navbar-expand-lg" id="navbar2">
  <div class="container-fluid">
    <a href="../index.html"><img src="../images/NOVA FINAL LOGO.JPG" id="nav2img1"></a>
    <a href="../index.html"><img src="../images/DURACON LOGO.png" id="nav2img2"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="../index.html" style="color: blue;" id="navbar-item">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbar-item">
            About Us
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../templates/about.html" id="navbar-item">Company Profile</a></li>
            <li><a class="dropdown-item" href="../templates/why.html" id="navbar-item">Why Novapure</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbar-item">
            Products
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../templates/ss.html" id="navbar-item">Stainless Steel(SS) Tanks</a></li>
            <li><a class="dropdown-item" href="../templates/plastictanks.html" id="navbar-item">Plastic Tanks</a></li>
            <li><a class="dropdown-item" href="../templates/lofttanks.html" id="navbar-item">Loft Tanks</a></li>
            <li><a class="dropdown-item" href="../templates/sensors.html" id="navbar-item">Water Level Alarms & Automations</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/download.html" id="navbar-item">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/faq.html" id="navbar-item">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/contact.html" id="navbar-item">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <a href="https://api.whatsapp.com/send/?phone=919701169701&text&type=phone_number&app_absent=0"><img src="../images/headerimg/whatsapp-icon.jpg" id="staticimg"></a>
    <!--faqheader-->
    <!--faq-->
    <!--<div class="gridfaq">
        <div class="gridfaqitem">
            <h1 class="gridfaqitemq">Which SS Grade Tanks Is Best For My Water Supply?</h1>
            <h4 class="gridfaqcontent">SS 304 - For RO/ Drinking Water & Corporation Water (tds &lt; 500)
                SS 316 - Borewell Water - (tds &lt; 2000)</h4>
        </div>
        <div class="gridfaqitem">
            <h1 class="gridfaqitemq">Why Should I Buy NOVA Water Storage Tanks?</h1>
            <h4 class="gridfaqcontent">These ss tanks are built to last. Our company has been into the business of manufacturing of stainless steel water tanks for over 10 years now and you can count on our experience.</h4>
        </div>
        <div class="gridfaqitem">
            <h1 class="gridfaqitemq">Which Information I Should Provide Before Buying These Tanks?</h1>
            <h4 class="gridfaqcontent">Select water storage capacity required, keeping in mind the future additional reserve needed.
                Select the fitting size of pipe like 1" or 1.5" etc for Inlet , Outlet , Over Flow and Drain Holes , Size of Tank in height and diameter taking care of the space available for water tank installation.
                Delivery,Location and time of delivery.</h4>
        </div>
        <div class="gridfaqitem">
            <h1 class="gridfaqitemq">What Area Do You Serve?</h1>
            <h4 class="gridfaqcontent">We supply S.S Tanks across India and have a tie up with all leading transporters for delivery of these S.S Tanks</h4>
        </div>
        <div class="gridfaqitem">
            <h1 class="gridfaqitemq">Are NOVA Tanks Safe For Drinking Water?</h1>
            <h4 class="gridfaqcontent">The material used to manufacture Plastic water tank is nothing but Petrochemical which facilitate bacterial growth and also loses its structural integrity when exposed to sun. Whereas NOVA water tanks are made of 100% pure stainless steel plates of grade 304 / 316 BA/2B and offer the best solution for the storage of potable water.</h4>
        </div>
        <div class="gridfaqitem">
            <h1 class="gridfaqitemq">What Kind Of Service Do You Normally Provide?</h1>
            <h4 class="gridfaqcontent">Buyers of our Water storage tanks rely on us for
                1 - Storage consultation, specification and tank installation.
                2 - Tank, maintenance and inspection services.</h4>
        </div>
        <div class="gridfaqitem">
            <h1 class="gridfaqitemq">How Much Water Temperature Will Change?</h1>
            <h4 class="gridfaqcontent">Temperature of Water inside S.S Tanks is 3 to 5 degrees cooler than plastic / concrete tanks because of three main resons.
                a)Non Porous nature of S.S Tanks (Sun Light does not penetrate inside the tank.
                b) Elevated Installation from the ground( as s.s tanks come with 1.5 feet height stand).
                c)Mirror Polish Finish ensures 100% Heat Reflection .Hence No temperature build up ...</h4>
        </div>
        <div class="gridfaqitem">
            <h1 class="gridfaqitemq">How Often Do I Need To Clean And Maintain My Tanks ?</h1>
            <h4 class="gridfaqcontent">Inside of Tank
                Over time impurities and sand settle down on in tank bottom.
                Open the drain valve for few minutes, first the mud will come out then as clear water starts to come out close the drain valve Do this once a month.
                Outside of Tank
                Tanks outer body keep clean & wash once in 6 months to avoid dust/mud deposit Do this once in 6 months</h4>
        </div>
        <div class="gridfaqitem">
            <h1 class="gridfaqitemq">What If Pipe Connections At Site Are Made Of G.I. / S.S. Or UPVC And Exposed In Direct Sun.?</h1>
            <h4 class="gridfaqcontent">In case of GI pipes use Brass MT for connection GI pipe to SS Tank connectors to isolate GI from SS material.For UPVC / CPVC Fittings the fittings can be directly connected to the male thread of the tank nipples provided and pre fitted by us</h4>
        </div>
    </div>-->
    <!--faq-->
    <img src="../images/faqimg/img1.png" id="faqimg">
    <section class="faq-container">
      <div class="faq-one">
          <!-- faq question -->
          <h1 class="faq-page">Which SS Grade Tanks Is Best For My Water Supply?</h1>
          <!-- faq answer -->
          <div class="faq-body">
              <p>SS 304 - For RO/ Drinking Water & Corporation Water (tds &lt; 500)
                SS 316 - Borewell Water - (tds &lt; 2000)</p>
          </div>
      </div>
      <hr class="hr-line">
      <div class="faq-two">
          <!-- faq question -->
          <h1 class="faq-page">Why Should I Buy NOVA Water Storage Tanks?</h1>
          <!-- faq answer -->
          <div class="faq-body">
              <p>These ss tanks are built to last. Our company has been into the business of manufacturing of stainless steel water tanks for over 10 years now and you can count on our experience.</p>
          </div>
      </div>
      <hr class="hr-line">
      <div class="faq-three">
          <!-- faq question -->
<h1 class="faq-page">Which Information I Should Provide Before Buying These Tanks?</h1>
          <!-- faq answer -->
          <div class="faq-body">
              <p>Select water storage capacity required, keeping in mind the future additional reserve needed.
                Select the fitting size of pipe like 1" or 1.5" etc for Inlet , Outlet , Over Flow and Drain Holes , Size of Tank in height and diameter taking care of the space available for water tank installation.
                Delivery,Location and time of delivery.</p>
          </div>
      </div>
      <hr class="hr-line">
      <div class="faq-four">
        <!-- faq question -->
<h1 class="faq-page">What Area Do You Serve?</h1>
        <!-- faq answer -->
        <div class="faq-body">
            <p>We supply S.S Tanks across India and have a tie up with all leading transporters for delivery of these S.S Tanks</p>
        </div>
    </div>
    <hr class="hr-line">
      <div class="faq-five">
        <!-- faq question -->
<h1 class="faq-page">Are NOVA Tanks Safe For Drinking Water?</h1>
        <!-- faq answer -->
        <div class="faq-body">
            <p>The material used to manufacture Plastic water tank is nothing but Petrochemical which facilitate bacterial growth and also loses its structural integrity when exposed to sun. Whereas NOVA water tanks are made of 100% pure stainless steel plates of grade 304 / 316 BA/2B and offer the best solution for the storage of potable water.</p>
        </div>
    </div>
    <hr class="hr-line">
      <div class="faq-six">
        <!-- faq question -->
<h1 class="faq-page">What Kind Of Service Do You Normally Provide?</h1>
        <!-- faq answer -->
        <div class="faq-body">
            <p>Buyers of our Water storage tanks rely on us for
              1 - Storage consultation, specification and tank installation.
              2 - Tank, maintenance and inspection services.</p>
        </div>
    </div>
    <hr class="hr-line">
      <div class="faq-seven">
        <!-- faq question -->
<h1 class="faq-page">How Much Water Temperature Will Change?</h1>
        <!-- faq answer -->
        <div class="faq-body">
            <p>Temperature of Water inside S.S Tanks is 3 to 5 degrees cooler than plastic / concrete tanks because of three main resons.
              a)Non Porous nature of S.S Tanks (Sun Light does not penetrate inside the tank.
              b) Elevated Installation from the ground( as s.s tanks come with 1.5 feet height stand).
              c)Mirror Polish Finish ensures 100% Heat Reflection .Hence No temperature build up ..</p>
        </div>
    </div>
    <hr class="hr-line">
      <div class="faq-eight">
        <!-- faq question -->
<h1 class="faq-page">How Often Do I Need To Clean And Maintain My Tanks ?</h1>
        <!-- faq answer -->
        <div class="faq-body">
            <p>Inside of Tank
              Over time impurities and sand settle down on in tank bottom.
              Open the drain valve for few minutes, first the mud will come out then as clear water starts to come out close the drain valve Do this once a month.
              Outside of Tank
              Tanks outer body keep clean & wash once in 6 months to avoid dust/mud deposit Do this once in 6 months</p>
        </div>
    </div>
    <hr class="hr-line">
      <div class="faq-nine">
        <!-- faq question -->
<h1 class="faq-page">What If Pipe Connections At Site Are Made Of G.I. / S.S. Or UPVC And Exposed In Direct Sun.?</h1>
        <!-- faq answer -->
        <div class="faq-body">
            <p>In case of GI pipes use Brass MT for connection GI pipe to SS Tank connectors to isolate GI from SS material.For UPVC / CPVC Fittings the fittings can be directly connected to the male thread of the tank nipples provided and pre fitted by us</p>
        </div>
    </div>
  </section>
    <!--footer-->
    <div class="footer">
      <h3 id="gst">GST Numbers</h3>
      <div class="gstflex">
        <h5 id="gst1">V.V Industries Gst No - 36AAPFV3516P1ZF</h5>
        <h5 id="gst2">Amar Wood Industries Pvt Ltd - Gst No 36AADCA7091B1ZX</h5>
      </div>
      <nav class="navbar navbar-expand-lg" id="footernav">
          <div class="container-fluid">
            <div class="para">
              <h1 class="parahead">Nova Water Pure</h1>
              <p class="paracontent">The 1981 report of World Health Organization, Geneva reports "Water collected for domestic use often becomes recontaminated or further contaminated by unsafe consumer storage and handling practices at the household level and is at the high risk by various pathogenic viruses, bacteria and parasites causing infectious diseases.</p>
            </div>
            <div id="footerproducts">
              <h4 class="fphead">OUR PRODUCTS</h4>
              <p class="fp1">Plastic Tanks<br>200-5000L</p>
              <p class="fp2"><a href="https://g.co/kgs/FSnyLJ" id="footerlink">Stainless Steel Tanks</a><br>30-7500L</p>
              <img src="../images/footer.jpg" id="fpimg">
            </div>
            <div class="footercontact">
              <h3 id="footerhead">Amarwood Industries Pvt Ltd</h3>
              <h5 id="footeremail">novawaterpure@gmail.com</h5>
              <h5 id="footernumber">(+91) 9701169701, 9849080798</h5>
              <h5 id="footernumber">040-27170332, 27159702 / 03</h5>
              <div class="navbar-logos">
                <a href="https://www.facebook.com/amarwoodindustries/"><img src="../images/headerimg/img1.png" class="headerimg"></a>
                <a href="https://api.whatsapp.com/send/?phone=919701169701&text&type=phone_number&app_absent=0"><img src="../images/headerimg/img2.png" class="headerimg"></a>
                <a href="https://www.instagram.com/novawaterpure/"><img src="../images/headerimg/img3.png" class="headerimg"></a>
              </div>
            </div>
          </div>
      </nav>
  </div>
  <script src="../script/faqscript.js"></script>
    <!--bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>