<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novawaterpure</title>
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/sensorstyle.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <!--bootstrap css-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../script/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.4.8/swiper-bundle.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <meta property="title" content="Novawaterpure" />
    <meta name="description" content="Stainless steel tanks" />
    <meta property="og:description" content="stainless steel tanks" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../images/NOVA FINAL LOGO.JPG"
    />
  </head>
  <body onload="mainfunc()">
    <!--header-->
    <div class="header" id="navbar1">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="navbar-logos">
            <a href="https://www.facebook.com/amarwoodindustries/"
              ><img src="../images/headerimg/img1.png" class="headerimg"
            /></a>
            <a
              href="https://api.whatsapp.com/send/?phone=919701169701&text&type=phone_number&app_absent=0"
              ><img src="../images/headerimg/img2.png" class="headerimg"
            /></a>
            <a href="https://www.instagram.com/novawaterpure/"
              ><img src="../images/headerimg/img3.png" class="headerimg"
            /></a>
          </div>
          <h6>CALL US: (+91) 9701169701, 9394607035</h6>
        </div>
      </nav>
    </div>
    <!--navbar-->
    <div class="top" id="hamburger">
      <a href="../index.html"
        ><img
          src="../images/NOVA FINAL LOGO.JPG"
          id="mobnav2img1"
      /></a>
      <a href="../index.html"
        ><img src="../images/DURACON LOGO.png" id="mobnav2img2"
      /></a>
      <a href="#" class="menu_icon"
        ><i class="material-icons" id="icon">dehaze</i></a
      >
    </div>
    <nav class="menu">
      <a class="item_menu"><span id="cross">❌</span></a>
  <br><br><a href="../index.html" class="item_menu">Home</a>
<a href="../templates/about.html" class="item_menu">Company Profile</a>
<a href="../templates/why.html" class="item_menu">Why Novapure</a>
<a href="../templates/ss.html" class="item_menu">Stainless Steel Tanks</a>
<a href="../templates/plastictanks.html" class="item_menu">Plastic Tanks</a>
<a href="../templates/lofttanks.html" class="item_menu">Loft Tanks</a>

<a href="../templates/sensors.html" class="item_menu">Water Level Alarms & Automations</a>
  <a href="../templates/download.html" class="item_menu">Download</a>
  <a href="../templates/faq.html" class="item_menu">FAQ</a>
  <a href="../templates/contact.html" class="item_menu">Contact Us</a>
  </nav>
<nav class="navbar navbar-expand-lg" id="navbar2">
  <div class="container-fluid">
    <a href="../index.html"><img src="../images/NOVA FINAL LOGO.JPG" id="nav2img1"></a>
    <a href="../index.html"><img src="../images/DURACON LOGO.png" id="nav2img2"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="../index.html" style="color: blue;" id="navbar-item">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbar-item">
            About Us
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../templates/about.html" id="navbar-item">Company Profile</a></li>
            <li><a class="dropdown-item" href="../templates/why.html" id="navbar-item">Why Novapure</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbar-item">
            Products
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="../templates/ss.html" id="navbar-item">Stainless Steel(SS) Tanks</a></li>
            <li><a class="dropdown-item" href="../templates/plastictanks.html" id="navbar-item">Plastic Tanks</a></li>
            <li><a class="dropdown-item" href="../templates/lofttanks.html" id="navbar-item">Loft Tanks</a></li>
            <li><a class="dropdown-item" href="../templates/sensors.html" id="navbar-item">Water Level Alarms & Automations</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/download.html" id="navbar-item">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/faq.html" id="navbar-item">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../templates/contact.html" id="navbar-item">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <a
      href="https://api.whatsapp.com/send/?phone=919701169701&text&type=phone_number&app_absent=0"
      ><img src="../images/headerimg/whatsapp-icon.jpg" id="staticimg"
    /></a>
    <!--about section-->
    <div class="abtsection">
      <div class="content">
        <h3 class="abthead">SensaSwitch - Water Level Alarms & Automations</h3>
        <p class="abtcontent">
          Amar Wood Industries Pvt Ltd, Hyderabad, is the pioneer in
          manufacturing Stainless Steel Water Tanks (304/316 grade). We’ve been
          manufacturing the best quality Stainless steel water tanks for the
          last 15 years and we can proudly say that our customers are hydrated
          safely. We manufacture Water Tanks from sizes 30 to 7500 liters using
          Seam Welding Technology which incorporates a fusion of two metals
          without the use of any foreign filler material thus ensuring
          rust-proof welding for a lifetime. Stainless steel tanks have been the
          go-to tanks for various companies and individuals. Here is why:
        </p>
        <ul class="abtlist">
          <li>
            Steel is very durable. It is always in excellent condition even
            after decades of use.
          </li>
          <li>It is completely resistant to extreme temperatures.</li>
          <li>It completely avoids the risk of the growth of bio-mass</li>
          <li>Stainless steel is resistant to environmental risks</li>
          <li>It is anti-corrosive in nature</li>
          <li>
            It is risk-free in terms of any chances of a chemical reaction.
            Therefore, no risk of contamination.
          </li>
          <li>
            Our tanks do not require frequent cleaning or regular maintenance.
            They also come with a longer shelf life.
          </li>
          <li>
            When water is stagnant in a Stainless Steel tank, it doesn't allow
            the formation of scale. This helps in maintaining smooth water flow
            in the entire house.
          </li>
        </ul>
      </div>

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <iframe
        id="processvid"
        src="https://www.youtube.com/embed/-_S6GtLtGSI"
      ></iframe>
          </div>
          <div class="carousel-item">
            <iframe
        id="processvid"
        src="https://www.youtube.com/embed/9rdOvruesaY"
      ></iframe>
          </div>
          <div class="carousel-item">
            <iframe
        id="processvid"
        src="https://www.youtube.com/embed/HW2fmReEjpo"
      ></iframe>
          </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i style="font-size: 60px; color:black;" class="fa fa-caret-left"></i>
      <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i style="font-size: 60px; color: black;" class="fa fa-caret-right"></i>
      <span class="sr-only">Next</span>
        </a> -->
      </div>




    </div>
    <!--types section-->
    <div class="type">
      <h3 class="typehead">Types and Ranges</h3>
      <p class="typecontent">
        304 - Food grade - Drinking water<br />
        Neer: 0.4 | Used for Commercial purpose<br />
        Nova : 0.6 | Used for Residential purpose<br /><br />
        316 - Special grade - For bore water<br />
        Nova | Used for residential purpose
      </p>
      <div class="typegrid">
        <!-- <div class="griditem">
                  <img src="../images/ssimg/nova.png" class="gridimg">
                  <h2 class="gridcontent">7500 liters</h2>
                  <div class="hidden">
                    <h6>Diameter - </h6>
                    <h6>Thickness - </h6>
                    <h6>Height - </h6>
                    <h6>Capacity - </h6>
                    <h6>Stand material - </h6>
                  </div>
              </div> -->
        <div class="griditem one">
          <!--                   change1 -->

          <img src="../images/sensors/1.png" class="gridimg" />

          <h2 class="gridcontent">OverFlow Control Alarm</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : OCA</li>
              <li class="pointer_list_item">
                Fixed Volume Musical Alarm On Tank Full
              </li>
              <li class="pointer_list_item">
                Tested Alarm Sound Level 75-85 dB
              </li>
              <li class="pointer_list_item">
                Maintenance Free Raw Water Sensor Set (2pc)
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="griditem one">
                <img src="../images/ssimg/nova.png" class="gridimg">
                <h2 class="gridcontent">100 ltrs</h2>
                <div class="two">
                  <p>Diameter - 2 ft</p>
                  <p>Thickness - 0.5</p>
                  <p>Height - 2.75 ft</p>
                  <p>Capacity - 100 ltrs</p>
                  <p>Stand material - Hot Dipped GI</p>
                </div>
            </div> -->
        <div class="griditem one">
          <!-- change2 -->

          <img src="../images/sensors/sensa2p.png" class="gridimg" />

          <h2 class="gridcontent">OverFlow Alarm Plus</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : OAP</li>
              <li class="pointer_list_item">
                Adjustable Volume Musical Alarm On Tank Full
              </li>
              <li class="pointer_list_item">
                Alarm Sound Volume Adjustable From 70-85 dB
              </li>
              <li class="pointer_list_item">
                Maintenance Free Raw Water Sensor Set (2pc)
              </li>
            </ul>
          </div>

          <!-- 		OLD1 description:
		    <div class="two">
                  <p>Fixed Volume Musical Alarm On Tank Full</p>
          <p>Tested Alarm Sound Level 75-85 dB</p>
          <p>Maintenance Free Raw Water Sensor Set (2pc)</p>
                </div>
 -->
        </div>

        <!-- <div class="griditem three">
                  <img src="../images/ssimg/nova.png" class="gridimg four">
                  <h2 class="gridcontent five">3000 ltrs</h2>
                  <div class="six">
                    <h4>Diameter - </h6>
                    <h4>Thickness - </h6>
                    <h4>Height - </h6>
                    <h4>Capacity - </h6>
                    <h4>Stand material - </h6>
                  </div>
              </div> -->
        <div class="griditem one">
          <!-- 		      change3 -->
          <img src="../images/sensors/sensa3.webp" class="gridimg" />

          <h2 class="gridcontent">Low Level Alarm</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : LLA</li>
              <li class="pointer_list_item">
                Fixed Volume Bird Beep Alarm On Tank Low
              </li>
              <li class="pointer_list_item">
                Tested Sound Level From 70-80 dB
              </li>
              <li class="pointer_list_item">
                Maintenance Free Raw Water Sensor Set (2pc)
              </li>
            </ul>
          </div>
        </div>
        <div class="griditem one">
          <!-- 		    change4 -->
          <img src="../images/sensors/sensa4.webp" class="gridimg" />

          <h2 class="gridcontent">Overflow Beep Alarm</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : OBS</li>
              <li class="pointer_list_item">
                Fixed Volume Beep Alarm On Tank Full
              </li>
              <li class="pointer_list_item">
                Tested Alarm Sound Level 75-85 dB
              </li>
              <li class="pointer_list_item">
                Maintenance Free Raw Water Sensor Set (2pc)
              </li>
            </ul>
          </div>
        </div>
        <div class="griditem one">
          <!-- 		    change5 -->

          <img src="../images/sensors/sensa5.webp" class="gridimg" />

          <h2 class="gridcontent">Water level indicator alarm</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : WLI-A</li>
              <li class="pointer_list_item">
                Beep Alarm & Indication On Tank Full & Low
              </li>
              <li class="pointer_list_item">
                Optional Low Alarm Sound For Low Level Alarm
              </li>
              <li class="pointer_list_item">
                Ready To Use Raw Water Set (3pc)
              </li>
            </ul>
          </div>
        </div>
        <div class="griditem one">
          <!-- 		    change6 -->

          <img src="../images/sensors/sensa6.webp" class="gridimg" />
          <h2 class="gridcontent">Overflow autostpper control</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : OASC</li>
              <li class="pointer_list_item">
                Auto Stops Water Pump On Tank Full Level
              </li>
              <li class="pointer_list_item">
                For Single Switch Operated Pump Up To 2 Hp
              </li>
              <li class="pointer_list_item">
                Maintenance Free Raw Water Sensor Set (2pc)
              </li>
            </ul>
          </div>
        </div>
        <div class="griditem one">
          <!-- 		    change7-->

          <img src="../images/sensors/sensa7.png" class="gridimg" />
          <h2 class="gridcontent">Overflow auto stopper control</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : OASC-2</li>
              <li class="pointer_list_item">
                Auto Stops Water Pump At Tank Full Level
              </li>
              <li class="pointer_list_item">
                For Double Push Button Operated Pump Sets
              </li>
              <li class="pointer_list_item">
                Maintenance Free Raw Water Sensor Set (2pc)
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="griditem one">
      <img src="../images/ssimg/nova.png" class="gridimg">
      <h2 class="gridcontent">5000 ltrs</h2>
      <div class="two">
        <p>Diameter - 5.5 ft</p>
        <p>Thickness - 1</p>
        <p>Height - 8 ft</p>
        <p>Capacity - 5000 ltrs</p>
        <p>Stand material - Hot Dipped GI</p>
      </div>
  </div> -->
        <div class="griditem one">
          <!-- 		    change8-->

          <img src="../images/sensors/sensa8.png" class="gridimg" />
          <h2 class="gridcontent">AUTO Overhead Level Control</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : AOLC</li>
              <li class="pointer_list_item">
                Fully Auto Control For Overhead Tank
              </li>
              <li class="pointer_list_item">
                For Single Switch Operated Pump Up To 2Hp
              </li>
              <li class="pointer_list_item">
                Optional Semi-Auto Mode Provided by Switch
              </li>
            </ul>
          </div>
        </div>

        <!-- 9th -->

        <div class="griditem one">
          <!--   change9 -->

          <img src="../images/sensors/sensa9.png" class="gridimg" />
          <h2 class="gridcontent">Auto Water Lifter Control</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : AWLC</li>
              <li class="pointer_list_item">
                Fully Auto Sump To Overhead Water Lifter
              </li>
              <li class="pointer_list_item">
                For Single Switch Operated Pump Up To 2Hp
              </li>
              <li class="pointer_list_item">
                Optional Manual Mode Provided by Switch
              </li>
            </ul>
          </div>
        </div>

        <!--10  -->

        <div class="griditem one">
          <!-- 		    change10 -->

          <img src="../images/sensors/sensa10.png" class="gridimg" />
          <h2 class="gridcontent">OverFlow Control-1</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : OC-1</li>
              <li class="pointer_list_item">
                Auto Stop for Single Switch Operated Pump
              </li>
              <li class="pointer_list_item">
                Start Manual/Stop Automatic on Tank Full
              </li>
              <li class="pointer_list_item">
                Shows Half & Low Level By LED on Panel
              </li>
            </ul>
          </div>
        </div>

        <!-- 		change 11 -->

        <div class="griditem one">
          <!-- 		    change11 -->

          <img src="../images/sensors/sensa11.png" class="gridimg" />
          <h2 class="gridcontent">OverFlow Control-2</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : OC-2</li>
              <li class="pointer_list_item">
                Auto Stop for Double Push Operated Pump
              </li>
              <li class="pointer_list_item">
                Start Manual/Stop Automatic on Tank Full
              </li>
              <li class="pointer_list_item">
                Shows Full,Half & Low Level By LED on Panel
              </li>
            </ul>
          </div>
        </div>

        <!--12  -->
        <div class="griditem one">
          <!-- 		    change12 -->

          <img src="../images/sensors/sensa12.png" class="gridimg" />
          <h2 class="gridcontent">Auto Level Control-1</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : ALC-1</li>
              <li class="pointer_list_item">
                Fully Auto For Single Switch Operated Pump
              </li>
              <li class="pointer_list_item">
                Auto Start at Low Level, Auto Stop On Full Level
              </li>
              <li class="pointer_list_item">
                Maintenance Free Raw Water Sensor Set (2pc)
              </li>
            </ul>
          </div>
        </div>

        <!-- 		  13 -->

        <div class="griditem one">
          <!-- 		    change13 -->

          <img src="../images/sensors/sensa13.png" class="gridimg" />
          <h2 class="gridcontent">Auto Level Control-2</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : ALC-2</li>
              <li class="pointer_list_item">
                Fully Auto For Double Push Operated Pump
              </li>
              <li class="pointer_list_item">
                Auto Start at Low Level, Auto Stop On Full Level
              </li>
              <li class="pointer_list_item">
                Control Bypass And Semi-Auto Option Provided
              </li>
            </ul>
          </div>
        </div>

        <!-- 		  14-->

        <div class="griditem one">
          <!-- 		    change14 -->

          <img src="../images/sensors/sensa14.png" class="gridimg" />
          <h2 class="gridcontent">Water Level Indicator Alarm - L</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : WLI-L</li>
              <li class="pointer_list_item">
                3 Stage Level Indication & Low Alert Output
              </li>
              <li class="pointer_list_item">
                Full Half & Low Level Indication by Led on panel
              </li>
              <li class="pointer_list_item">
                Output on Tank Low for Aux Audio Visual Device
              </li>
            </ul>
          </div>
        </div>

        <!-- 		  15 -->

        <div class="griditem one">
          <!-- 		    change15-->

          <img src="../images/sensors/sensa15.png" class="gridimg" />
          <h2 class="gridcontent">Water Level Indicator Alarm - F</h2>
          <div class="two">
            <ul class="pointer_list">
              <li class="pointer_list_item">Model : WLI-F</li>
              <li class="pointer_list_item">
                3 Stage Level Indication & Low Alert Output
              </li>
              <li class="pointer_list_item">
                Full Half & Low Level Indication by Led on panel
              </li>
              <li class="pointer_list_item">
                Output on Tank Full for Aux Audio Visual Device
              </li>
            </ul>
          </div>
        </div>

        <!-- <div class="griditem one">
  <img src="../images/ssimg/nova.png" class="gridimg">
  <h2 class="gridcontent">500 ltrs</h2>
  <div class="two">
    <p>Diameter - 2.5 ft</p>
    <p>Thickness - 0.4</p>
    <p>Height - 6.5 ft</p>
    <p>Capacity - 500 ltrs</p>
    <p>Stand material - MS Painted</p>
  </div>
</div>
<div class="griditem one">
  <img src="../images/ssimg/nova.png" class="gridimg">
  <h2 class="gridcontent">1000 ltrs</h2>
  <div class="two">
    <p>Diameter - 3.5 ft</p>
    <p>Thickness - 0.4</p>
    <p>Height - 6.5 ft</p>
    <p>Capacity - 1000 ltrs</p>
    <p>Stand material - MS Painted</p>
  </div>
</div>
<div class="griditem one">
  <img src="../images/ssimg/nova.png" class="gridimg">
  <h2 class="gridcontent">2000 ltrs</h2>
  <div class="two">
    <p>Diameter - 5 ft</p>
    <p>Thickness - 0.5</p>
    <p>Height - 6.5 ft</p>
    <p>Capacity - 2000 ltrs</p>
    <p>Stand material - MS Painted</p>
  </div>
</div>
<div class="griditem one">
  <img src="../images/ssimg/nova.png" class="gridimg">
  <h2 class="gridcontent">3000 ltrs</h2>
  <div class="two">
    <p>Diameter - 5 ft</p>
    <p>Thickness - 0.5</p>
    <p>Height - 7.5 ft</p>
    <p>Capacity - 3000 ltrs</p>
    <p>Stand material - MS Painted</p>
  </div>
</div>
<div class="griditem one">
  <img src="../images/ssimg/nova.png" class="gridimg">
  <h2 class="gridcontent">250 ltrs</h2>
  <div class="two">
    <p>Length - 38"</p>
    <p>Width - 27"</p>
    <p>Height - 14"</p>
    <p>Thickness - 0.6</p>
    <p>Capacity - 250 ltrs</p>
  </div>
</div>
<div class="griditem one">
  <img src="../images/ssimg/nova.png" class="gridimg">
  <h2 class="gridcontent">300 ltrs</h2>
  <div class="two">
    <p>Length - 38"</p>
    <p>Width - 27"</p>
    <p>Height - 19"</p>
    <p>Thickness - 0.6</p>
    <p>Capacity - 300 ltrs</p>
  </div>
</div>
<div class="griditem one">
  <img src="../images/ssimg/nova.png" class="gridimg">
  <h2 class="gridcontent">400 ltrs</h2>
  <div class="two">
    <p>Length - 38"</p>
    <p>Width - 27"</p>
    <p>Height - 24"</p>
    <p>Thickness - 0.6</p>
    <p>Capacity - 400 ltrs</p>
  </div>
</div>
<div class="griditem one">
  <img src="../images/ssimg/nova.png" class="gridimg">
  <h2 class="gridcontent">500 ltrs</h2>
  <div class="two">
    <p>Length - 38"</p>
    <p>Width - 27"</p>
    <p>Height - 30"</p>
    <p>Thickness - 0.6</p>
    <p>Capacity - 500 ltrs</p>
  </div>
</div> -->
      </div>
    </div>
    <!--purchase-->
    <div class="purchase">
      <h3 id="purchasehead">Purchase</h3>
      <p id="purchasecontent">
        We offer the most hassle-free process. Just give us a call or send a
        message and we'll get your requirement delivered at the earliest. If you
        like to visit us we’d love to have you at our factory.
      </p>
      <div class="purchaseflex">
        <!-- <div class="flex">
          <img src="../images/contactimg/img2.jpg" class="purchaseimg" />
          <h6 class="purchasecon">+91 9849080798</h6>
        </div> -->
        <div class="flex">
          <img src="../images/contactimg/img2.jpg" class="purchaseimg" />
          <h6 class="purchasecon">+91 9394607035</h6>
        </div>
        <div class="flex">
          <img src="../images/contactimg/img3.jfif" class="purchaseimg" />
          <h6 class="purchasecon">novawaterpure@gmail.com</h6>
        </div>
      </div>
    </div>
    <!--footer-->
    <div class="footer">
      <h3 id="gst">GST Numbers</h3>
      <div class="gstflex">
        <h5 id="gst1">V.V Industries Gst No - 36AAPFV3516P1ZF</h5>
        <h5 id="gst2">Amar Wood Industries Pvt Ltd - Gst No 36AADCA7091B1ZX</h5>
      </div>
      <nav class="navbar navbar-expand-lg" id="footernav">
        <div class="container-fluid">
          <div class="para">
            <h1 class="parahead">Nova Water Pure</h1>
            <p class="paracontent">
              The 1981 report of World Health Organization, Geneva reports
              "Water collected for domestic use often becomes recontaminated or
              further contaminated by unsafe consumer storage and handling
              practices at the household level and is at the high risk by
              various pathogenic viruses, bacteria and parasites causing
              infectious diseases.
            </p>
          </div>
          <div id="footerproducts">
            <h4 class="fphead">OUR PRODUCTS</h4>
            <p class="fp1">
              <a href="../templates/plastictanks.html">Plastic Tanks</a
              ><br />200-5000L
            </p>
            <p class="fp2"><a href="https://g.co/kgs/FSnyLJ" id="footerlink">Stainless Steel Tanks</a><br>30-7500L</p>
            <img src="../images/footer.jpg" id="fpimg" />
          </div>
          <div class="footercontact">
            <h3 id="footerhead">Amarwood Industries Pvt Ltd</h3>
            <h5 id="footeremail">novawaterpure@gmail.com</h5>
            <h5 id="footernumber">(+91) 9701169701, 9849080798</h5>
            <h5 id="footernumber">040-27170332, 27159702 / 03</h5>
            <div class="navbar-logos">
              <a href="https://www.facebook.com/amarwoodindustries/"
                ><img src="../images/headerimg/img1.png" class="headerimg"
              /></a>
              <a
                href="https://api.whatsapp.com/send/?phone=919701169701&text&type=phone_number&app_absent=0"
                ><img src="../images/headerimg/img2.png" class="headerimg"
              /></a>
              <a href="https://www.instagram.com/novawaterpure/"
                ><img src="../images/headerimg/img3.png" class="headerimg"
              /></a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!--bootstrap js-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
